<nav class="navbar">
    <div class="side-title">
        <a href="/" style="text-decoration: none;">
            <h1>SP Blog</h1>
            <p>RedEye Site</p>
        </a>
    </div>

    <ul class="nav-links">
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
